<!doctype html>
<html>
	<head>
		<title>Parse app</title>

		<meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon" href="http://www.adsy.me/favicon.ico">
        <link href="http://www.adsy.me/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" rel="stylesheet" />
        <link href="http://raw.github.com/brutaldesign/swipebox/master/source/swipebox.css" rel="stylesheet" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

        <script src="/static/jquery.swipebox.js"></script>

        <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>

        <script type="text/javascript">
        	$(document).ready(function() {
        		Parse.initialize("fjgDgBkGrzDRH67yJPdtFz094dx5X4bC3C2rXjz7", "sLMamoGpErvc6K6x3kpvaFi4XphP9Wqz6UVJzmcY");

        		$.ajaxSetup({ cache: true });
				$.getScript('http://connect.facebook.net/en_UK/all.js', function(){
					window.fbAsyncInit = function() {
						Parse.FacebookUtils.init({
							appId      : '557645890989942', // Facebook App ID
							//channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
							//status     : true, // check login status
							cookie     : true, // enable cookies to allow Parse to access the session
							xfbml      : true  // parse XFBML
						});

						FB.Event.subscribe('auth.login', function(response) {
							FB.api('/me', function(response) {
							    $('.login-btn').html(
                                    "<img src='http://graph.facebook.com/"+response.id+"/picture' width='40' style='vertical-align:middle' /> Hola, "
                                    + response.name + "!"
                                ).removeAttr('class').css('float', 'left');
							});
						});
					};
				});
				// FB.init({
				//  	appId: '557645890989942',
				// });

        		$(".login-btn").click(function(e) {
        			Parse.FacebookUtils.logIn(null, {
						success: function(user) {
							//alert("User logged in through Facebook!");
						},
						error: function(user, error) {
							//alert("User cancelled the Facebook login or did not fully authorize.");
						}
					});
        		});

        		$(".add-photo").click(function(e){
        			$(".upload-area").append("<div>"
                        + "<h2>Upload photo</h2>"
        				+ "<input data-mini='true' type='file' class='upload-file' />"
        				+ "<input data-mini='true' type='text' class='upload-caption' placeholder='Caption'>"
        				+ "<input data-mini='true' type='text' class='upload-tags' placeholder='Tags separated by space'>"
        				+ "<button data-mini='true' class='upload-btn'>Upload</button>"
        				+ "<span class='upload-spinner'></span>"
        				+ "</div>"
        				+ "<hr />"
        			).trigger('create');
        		});

        		$(document).on("click", ".upload-btn", function(event) {
                    var $btn = $(event.target),
                    	$wrapper = $btn.parent().parent(),
                    	$spinner = $wrapper.find("h2"), //find(".upload-spinner"),
                    	$file = $wrapper.find("input.upload-file")[0],
                    	caption = $wrapper.find("input.upload-caption").val(),
                    	tags = $wrapper.find("input.upload-tags").val();

                    console.log(caption);
                    console.log(tags);
                    console.log($file.files);

                    if (!caption || !tags) {
                        return;
                    }

                    if ($file.files.length > 0) {
                        $spinner.html("<img class='upload-spinner' src='http://toe.tusur.ru/images/spinner.gif' />");

						var file = $file.files[0];

						var parseFile = new Parse.File(file.name, file);
						parseFile.save().then(function() {
							// The file has been saved to Parse.
							$spinner.html("Saved");

							var item = new Parse.Object("Photos");
							item.set("caption", caption);
							item.set("tags", tags);
							item.set("file", parseFile);
							item.save();
						}, function(error) {
							// The file either could not be read, or could not be saved to Parse.
							$spinner.html("ERROR!!!");
						});
					}
                });

				$(document).on("keyup", ".search-box", function(event) {
					var q = $(".search-box").val(),
						$list = $(".results");

					if (!q) return;

                    if(event.keyCode == 13) {
                    	$list.html("");

                        var Photos = Parse.Object.extend("Photos");

						var query_caption = new Parse.Query(Photos);
						query_caption.contains("caption", q);

						var query_tags = new Parse.Query(Photos);
						query_tags.contains("tags", q);

						var mainQuery = Parse.Query.or(query_caption, query_tags);
						mainQuery.find({
							success: function(results) {
								for (var i = 0; i < results.length; i++) { 
									var object = results[i];
									//console.log(object);
									//alert(object.id + ' - ' + object.get('playerName'));
									$list.append("<li>"
										+ "<img class='swipebox' src='" + object.get('file').url() + "' href='" + object.get('file').url() + "' class='ul-li-thumb' />"
										+ object.get('caption')
										+ "<p>" + object.get('tags') + "</p>"
										+ "</li>"
									);
								}
								$list.listview('refresh');
                                $(".swipebox").swipebox();
							},
							error: function(error) {
								alert("Error: " + error.code + " " + error.message);
							}
						});
                    }
                }); 
        	});
        </script>
	</head>

	<body>
		<div data-role="page" id="search-page">
            <div data-role="header" data-theme="b">
                <a class="login-btn">Login</a>
                <h1>Photos</h1>
                <a href="#upload-page" data-rel="dialog">Upload</a>
            </div><!-- /header -->

            <div data-role="content">
                <div class="search-controls">
                    <input type="search" class="search-box" value="" data-mini="true"
                        placeholder="Search photos..." />
                </div>
                
                <ul class="results" data-role="listview" data-inset="true"></ul>
            </div><!-- /content -->
        </div><!-- /page -->

        <div data-role="page" id="upload-page">
            <div data-role="header" data-theme="b">
                <!-- <a href="#search-page">Back</a> -->
                <h1>Upload</h1>
            </div><!-- /header -->

            <div data-role="content">
                <div class="upload-area">
                    <div>
                        <h2>Upload photo</h2>
                        <input data-mini="true" type='file' class='upload-file' />
                        <input data-mini="true" type='text' class='upload-caption' placeholder='Caption'>
                        <input data-mini="true" type='text' class='upload-tags' placeholder='Tags separated by space'>
                        <button data-mini="true" class='upload-btn'>Upload</button>
                        <span class='upload-spinner'></span>
                    </div>
                    <hr />
                </div>

                <p>
                    <a class="add-photo" data-role="button" data-theme="b" data-mini="true" href="#">Add another one ...</a>
                </p>
            </div><!-- /content -->
        </div><!-- /page -->
	</body>
</html>